.myheading {
    background-color: blue;
}

#myheading2 {
    background-color: green;
    color: white;
    padding: 54px 100px;
    margin: 100px;
    border-radius: 92px;
    border-left: 20px solid blue;
    border-right: 20px solid red;
}

.sister{
    display: inline;
}

.mydiv {
    background-color: red;
    padding: 50px 100px;

}




.myimg{
    width: 200px;
    height: 163px;
}